div.row{
  background-color: rgb(137, 47, 255);
  height: 100px;
  border-style: groove;
}

div.row.mainhead>div{
    background-color: rgb(255, 47, 151) !important;
    margin: 0;
    height: 100px;
    border-style: groove;
  }
div.col-sm-7{
    margin: 5px;
    padding: 5px;
    border-style:groove;
    background-color:rgb(206, 168, 255); 
    text-align: center;
    font-size: 30px;
}
div.col-sm-2{
    margin: 5px;
    padding: 5px;
    border-style:groove;
    background-color:rgb(206, 168, 255);
    text-align: center;
    font-size: 30px;
}
div.col-sm-3{
    margin: 5px;
    padding: 5px;
    border-style:groove;
    background-color:rgb(206, 168, 255);
    text-align: center;
    font-size: 30px;
}
div.container{
    padding: 20px;
    border-style: groove;
}
div.col{
    border-style:dotted;
    margin: 10px;
    padding: 10px;
    background-color: rgb(206, 168, 255);
    text-align: center;
    font-size: 30px;
}
p{
    height: 100px;
}
/*div.item{
    padding: 20px;
    border-style:groove;
    background-color:rgb(206, 168, 255); 
}*/