h1{
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    color: rgb(172, 119, 221);
}
div.gallery{
    display:inline-table;
    filter:blur(3.5px);
    transition: 1s;
}
div.gallery img{
    width: 300px;
    height: 300px;
    margin: 4px 4px 4px 4px;
    border-style: groove;
    box-shadow: 1px 1px 1px 1px rgb(109, 109, 109);
}
div.gallery:hover{
    transform: scale(1.1);
    transition: linear 1s;
    filter: none;
}
button.btn{
    border-radius: 5in;
    border-style: dashed;
    position: static;
    
}