h1{
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    color: rgb(172, 119, 221);
}
div.gallery{
    display:inline-table;
}
div.gallery img{
    width: 300px;
    height: 300px;
    margin: 3px 3px 3px 3px;
    border-style: groove;
}